<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="EPPlus" version="8.0.3" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net48" />
  <package id="FuzzySharp" version="2.0.2" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.ML" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.ML.FastTree" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.ML.Mkl.Redist" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.ML.TimeSeries" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.WindowsForms" version="2.2.0" targetFramework="net472" />
  <package id="PDFsharp-MigraDoc-GDI" version="6.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="8.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net472" />
</packages>